.flex-grid{
  display: flex;
  flex-wrap: wrap;
  section{
    background-color: #efefef;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 25px;
    width:50%;
    h3{
      margin: 0;
      text-align: center;
      font-family: $frutiger75;
      font-size: 1.75em;
      color: $brand-primary;
    }
    .date{
      font-size: 2em;
      text-align: center;
      font-family: $frutiger75;
      margin: -5px 0 10px;
    }
  }
  &.widget{
    padding:0;
    border: none;
    border-bottom: 1px solid #ccc;
  }
}


@media screen and (min-width: 50em) {
  .home .flex-grid section{
    flex: 1;
    min-width: 25%;
    h3{
      font-size: 2em;
    }
    .date{
      font-size: 3em;
    }
  
  }
}