// pre-footer layout
.pre-footer{
  &.empty{
    display: none;
  }	
  .flex-wrapper{
    position:relative;
    z-index: 1;
    flex-direction: column;
    @media screen and (min-width: 850px){
      flex-direction: row;  
    }
  }
  .footer-branding{
    flex: 1;
  }
  .footer-widget-area{
    flex: 1;
    margin: 2em 0;
  }
}

@media screen and (min-width: 850px){
  .pre-footer{
    .flex-wrapper{
      flex-direction: row;
    }
    .footer-widget-area{
      margin: 0 2em;
    }
  } 
}



// pre-footer styling

.pre-footer{
  background-size: cover;
	background-position: center;
  color: #fff;
	padding: 3.5em 0;
	position: relative;
	a{
  	color: #c39738;
	}
	&:after{
  	background: #000;
  	content: ' ';
  	display: block;
  	height: 100%;
  	left: 0;
  	opacity: 0.8;
  	position: absolute;
  	right: 0;
  	top: 0;
	}
}

.footer-site-title {
	font-family: $frutiger75;
	font-size: 2.5rem;
	letter-spacing: 1px;
	line-height: 1.2;
	margin: 0;
	text-transform: uppercase;
}

.footer-site-title a {
	color: #fff;
	text-decoration: none;
}

.footer-site-description {
	font-size: 16px;
	font-style: italic;
	line-height: 1.75;
}

.footer-widget-area .widget {
	border: none;
	padding: 0;
	text-align: left;
	font-size: 1em;
	h3{
  	font-family: $frutiger75;
  	text-transform: uppercase;
    margin-top: .5rem;
    margin-bottom: 2rem;
	}
}

/*

.pre-footer:after {
	
}







.footer-widget-area .widget:last-child {
	margin-bottom: 0;
}

.footer-widget-area .widget-title {
	text-align: left;
}

.first.footer-widgets,
.second.footer-widgets {
	margin-right: 55px;
}

.footer-widget-area .widget-title {
	color: #fff;
}

.footer-widget-area .widget ul > li,
.footer-widget-area .widget ol > li {
	border-top: 1px solid #404040;
}

.footer-widget-area .widget_calendar table,
.footer-widget-area .widget_calendar td {
	border-color: #e5e5e5;
}

@media screen and (min-width: 850px){
  /* Footer Widget Area */
/*
	.pre-footer .inner {
		text-align: left;
	}

	.footer-branding {
		display: inline-block;
		margin-right: 2%;
		margin-bottom: 0;
		vertical-align: top;
		width: 50%;
	}
	.footer-branding.empty {
		display: none;
	}
	.footer-branding:last-child {
		display: block;
		margin: 0 auto;
		text-align: center;
		vertical-align: top;
		width: 33%;
	}

	.footer-branding.empty + .footer-widget-area {
		width: 100%;
	}

	.footer-branding:not(.empty) + .footer-widget-area {
		margin-top: 0;
	}
}
*/


