.site-header{
  background-color: $brand-primary;
  font-size: 10px;
  .flex-wrapper{
    align-items: center;
    justify-content: space-between;
  }
}

.site-header .sju-logo{
  flex: 1;
  min-width: 50px;
}
.site-header .main-navigation{
  flex: 2 1 auto;
}
.site-header .social-links{
  flex: 1;
  min-width: 150px;
  a:before{
    font-size: 1.8em;
  }
}




/* SJU Logo */
.sju-logo img{ padding: 5px; max-width:50px; }



@media screen and (min-width: 1000px) {
  .site-header{
    font-size: 14px;
  }
  .site-header .social-links{
    min-width: 200px;
  }
}