.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.home &{
  	height: 65vh;
  }
	position:relative;
	.flex-wrapper{
    align-items: center;
    justify-content: center;
    z-index: 5;
	}
	.hero-overlay{
  	background: #000;
  	display: block;
  	height: 100%;
  	left: 0;
  	opacity: 0.6;
  	position: absolute;
  	right: 0;
  	top: 0;
  	z-index:0;
	}
}

.hero .site-branding{
  padding: 20px;
}
.not-home .site-branding{
  width: 30%;
}
.hero-middle, .hero-middle .flex-wrapper {
  height: 80%;
  position: relative;
  z-index: 10;
}
.hero > img {
	visibility: hidden;
}

.hero-content {
	position: relative;
}