/*--------------------------------------------------------------
## General Component Styling
--------------------------------------------------------------*/

.reverse{
  background-color: $brand-primary;
  h1, h2, h3{
    color: white;
  }
  p{
    color: white;
  }
}



/*--------------------------------------------------------------
## Site Layout
--------------------------------------------------------------*/
.flex-wrapper, .wrapper{
  width: 90%;
  margin: 0px auto;
}
.flex-wrapper{
  display: flex;
  flex-direction: column;
}
.site-content{
  .home & .content-area{
    width: 100%;
    margin-top: -15vh;
    padding: 20px;
  }
  .content-area{
    background-color: white;
    z-index: 15;
    position:relative;
  }
  aside{
    padding: 0px 20px 20px
  }
}
@media screen and (min-width: 50em){
  .flex-wrapper{
    flex-direction: row;
  }
  .site-content{
    .content-area{
      width: 70%;
    }
    aside{
      width: 30%;
    }
  }
}
@media screen and (min-width: 75em){
  .flex-wrapper, .wrapper{
    width: 80%;
    max-width: $site-max-width;
  }
}

/**
 * Fixes the min-height bug in IE10-11.
 * This class should be added to a container element as described in
 * Flexbug #3. See http://bit.ly/1gy8OJS for details.
 */
.u-ieMinHeightBugFix {
  display: flex;
  flex-direction: column;
}


@import 'hero';
@import 'flexgrid';

.home .main-wrapper{
  margin-bottom: -5em;
}

.home .main-wrapper + section{
  padding-top: 4.5em;
}

.not-home .main-wrapper{
  background-color: white;
  padding: 20px;
  position: relative;
}

@import 'header';

main{
  padding: 20px;
  border: 1px solid #efefef;
}
.site-footer{
  text-align: center;
  font-size: .85em;
  padding: 20px;
  background-color: #efefef;
}

.mission-statement{
  padding: 40px 20px;
  font-size: 1.25em;
  text-align: center;
  h2{
    font-family: $frutiger75;
  }
  p{
    font-style: italic;
  }
  .wrapper{
    width: 60%;
  }
}
.rebel-feed{
  font-size: 2em;
  h2, h3{
    font-family: $frutiger75;
    text-align: center;
  }
  .social{
    text-align: center;
    font-size: .75em;
    margin: 20px 0;
  }
}

@import 'footer';


// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";