.widget {
	margin: 0 0 1.5em;
	border: 1px solid #efefef;
	padding: 20px;
	font-size: .85em;
	&.unbordered{
		border: none;
		padding: 0px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
		padding: 5px 0;
		border-top: 1px solid #ddd;
	}
	a{
		text-decoration: none;
		display: inline-block;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	h2{
		margin: 0 0 10px;
		text-transform: uppercase;
		color: $brand-primary;
		text-align: center;
	}
}

.widget input[type="search"].search-field {
  border-radius: 0;
  background-color: #efefef;
  padding: 2px 10px;
  width: 70%;
}

.widget .search-submit:before {
	font-size: 16px;
	left: 1px;
	line-height: 35px;
	width: 34px;
}

.widget button.search-submit {
	padding: 0;
	width: 35px;
}