.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header h1{
	margin: 0;
}
.archive .entry-title {
  text-align: center;
  margin: 10px;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-divider{
  margin: 2em auto 3em;
}


/* the below is from the Button theme */
.entry-meta,
.entry-footer {
  color: #dddddd;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center; }
  .entry-meta a,
  .entry-meta a:visited,
  .entry-footer a,
  .entry-footer a:visited {
    color: #bbbbbb;
    transition: 0.3s;
    text-decoration: none; }
    .entry-meta a:hover,
    .entry-meta a:visited:hover,
    .entry-footer a:hover,
    .entry-footer a:visited:hover {
      color: #f78769; }

.entry-meta {
  margin-bottom: 1.5em; }

.entry-meta > span {
  display: inline-block;
  margin: 0 0.375em; }
  .entry-meta > span:after {
    content: "\00B7";
    margin-left: .75em; }
  .entry-meta > span:last-of-type:after {
    display: none; }

.cat-links {
  color: #bbbbbb;
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px; }
  .cat-links a,
  .cat-links a:visited {
    margin: 0 0.375em;
    text-decoration: none;
    transition: 0.3s; }

.tags-links,
.widget_tag_cloud {
  display: block;
  clear: both;
  margin: 0;
  width: 100%; }
  .tags-links a,
  .tags-links a:visited,
  .widget_tag_cloud a,
  .widget_tag_cloud a:visited {
    background-color: #bbbbbb;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    height: 24px;
    margin-right: 1.5em;
    margin-bottom: .75em;
    padding: 2px 1px 2px 5px;
    position: relative;
    text-decoration: none;
    transition: 0.3s; }
    .tags-links a:last-of-type,
    .tags-links a:visited:last-of-type,
    .widget_tag_cloud a:last-of-type,
    .widget_tag_cloud a:visited:last-of-type {
      margin-right: 0; }
    .tags-links a:hover,
    .tags-links a:visited:hover,
    .widget_tag_cloud a:hover,
    .widget_tag_cloud a:visited:hover {
      background-color: #f78769;
      color: white; }
      .tags-links a:hover:after,
      .tags-links a:visited:hover:after,
      .widget_tag_cloud a:hover:after,
      .widget_tag_cloud a:visited:hover:after {
        border-left-color: #f78769; }
      .tags-links a:hover:before,
      .tags-links a:visited:hover:before,
      .widget_tag_cloud a:hover:before,
      .widget_tag_cloud a:visited:hover:before {
        border-top-color: #f78769;
        border-bottom-color: #f78769; }
    .tags-links a:before,
    .tags-links a:visited:before,
    .widget_tag_cloud a:before,
    .widget_tag_cloud a:visited:before {
      border-width: 12px;
      border-left-width: 8px;
      border-right-width: 0;
      border-style: solid;
      border-top-color: #bbbbbb;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #bbbbbb;
      content: "";
      display: inline-block;
      margin: 0;
      position: absolute;
      left: -8px;
      top: 0;
      transition: 0.3s; }
    .tags-links a:after,
    .tags-links a:visited:after,
    .widget_tag_cloud a:after,
    .widget_tag_cloud a:visited:after {
      border-width: 12px;
      border-right-width: 0;
      border-style: solid;
      border-left-color: #bbbbbb;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      content: "";
      display: inline-block;
      margin: 0;
      position: absolute;
      right: -12px;
      top: 0;
      transition: 0.3s; }

.widget_tag_cloud {
  margin-bottom: 3em; }
  .widget_tag_cloud a {
    font-size: 14px !important; }