$brand-primary:     #921b32;
$brand-links:       #167DAD;
$brand-success:     #769119;
$brand-warning:     #f0ad4e;
$brand-danger:      #d9534f;
$brand-info:        #5bc0de;
$highlight-yellow:  #ffffcc;

$primary:           $brand-primary;
$black:             #010101;
$dk-gray:           #6c6f70;
$med-gray:          #dddddd;
$lt-gray:           #f0efef;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $brand-links;
$color__link-visited: darken($brand-links, 15%);
$color__link-hover: darken($brand-links, 15%);
$color__text-main: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
