$serif: Lora, Georgia, Times, 'Times New Roman', serif;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$frutiger75: 'FrutigerLTW01-75Black', $sans-serif;
$frutiger67: 'FrutigerLTW01-67BoldCn', $sans-serif;
$frutiger55: 'FrutigerLTW01-55Roman', $sans-serif;

$font__main: $serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// the ../fonts/ should be for wherever the fonts directory lives relative to the compiled file.
@font-face {
  font-family: 'FrutigerLTW01-55Roman';
  src: url('../fonts/frutigerltw01-55roman.eot?') format('eot'), 
       url('../fonts/frutigerltw01-55roman.woff') format('woff'), 
       url('../fonts/frutigerltw01-55roman.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-55roman.svg') format('svg');
}
@font-face {
  font-family: 'FrutigerLTW01-57Condens';
  src: url('../fonts/frutigerltw01-57condensed.eot?') format('eot'), 
       url('../fonts/frutigerltw01-57condensed.woff') format('woff'), 
       url('../fonts/frutigerltw01-57condensed.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-57condensed.svg') format('svg');
}
@font-face {
  font-family: 'FrutigerLTW01-67BoldCn';
  src: url('../fonts/frutigerltw01-67boldcn.eot?') format('eot'), 
       url('../fonts/frutigerltw01-67boldcn.woff') format('woff'), 
       url('../fonts/frutigerltw01-67boldcn.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-67boldcn.svg') format('svg');
}
@font-face {
  font-family: 'FrutigerLTW01-75Black';
  src: url('../fonts/frutigerltw01-75black.eot?') format('eot'), 
       url('../fonts/frutigerltw01-75black.woff') format('woff'), 
       url('../fonts/frutigerltw01-75black.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-75black.svg') format('svg');
}